@font-face {
    font-family: "BERNIERDistressed-Regular";
    src: url("../../assets/fonts/bernierdistressed-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BERNIERRegular-Regular";
    src: url("../../assets/fonts/bernierregular-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BERNIERDistressed-Regular";
    src: url("../../assets/fonts/berniershade-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}