.center-container{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.center-block{
    width: 380px;
    height: 395px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -198px;
    left: 50%;
    margin-left: -190px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.front1{
    background: url('~img/bg-welcome.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}